<%- include('../partials/headerAdmin.ejs') %>
    <main class="container"><!-- inicio cuerpo principal -->
        <h2 class="create_title">EDITAR ITEM</h2>
        <form action="/admin/edit/<%= item.product_id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="first_filter">
            <div>
                <label class="filter_title" for="collection">Categoría:</label>
                <select id="categoria" name="category" class="filter_dropdown" required>
                    <% if( item.category_id==1) { %>
                        <option value="1" selected>Figuras coleccionables</option>
                        <option value="2">Remera</option>
                        <option value="3">Llaveros</option>
                        <% } %>
                            <% if (item.category_id==2) { %>
                                <option value="1">Figura Coleccionables </option>
                                <option value="2" selected> Remera </option>
                                <option value="3">Llaveros </option>
                                <% } %>
                                    <% if (item.category_id==3) { %>
                                        <option value="1"> Figura Coleccionables </option>
                                        <option value="2">Remera </option>
                                        <option value="3" selected> Llaveros </option>
                                        <% } %>
                </select>
            </div>
            <div class="filters">
                <label for="Licencia" class="filter_title">Licencia:</label>
                <select class="filter_dropdown" id="Licencia" name="Licence">
                    <% if( item.licence_id==1) { %>
                        <option value="1" selected>Pokemon</option>
                        <option value="2">Star War</option>
                        <option value="3">Harry Potter</option>
                        <option value="4">Naruto</option>
                        <% } %>
                            <% if (item.licence_id==2) { %>
                                <option value="1">Pokemon</option>
                                <option value="2" selected>Star War</option>
                                <option value="3">Harry Potter</option>
                                <option value="4">Naruto</option>
                                <% } %>
                                    <% if (item.licence_id==3) { %>
                                        <option value="1">Pokemon</option>
                                        <option value="2">Star War</option>
                                        <option value="3" selected>Harry Potter</option>
                                        <option value="4">Naruto</option>
                                        <% } %>
                                            <% if (item.licence_id==4) { %>
                                                <option value="1">Pokemon</option>
                                                <option value="2">Star War</option>
                                                <option value="3">Harry Potter</option>
                                                <option value="4" selected>Naruto</option>
                                                <% } %>
                </select>
            </div>
        </div>
            <div>
                <label for="nombre del producto" class="filter_title">Nombre del producto:</label>
                <input class="to_finish margen_large" name="name" value="<%= item.product_name %>">
            </div>
            <div>
                <textarea class="product_descrip" name="description"  rows="10" cols="40"><%= item.product_description %> </textarea>
            </div>
            <div >
                <label class="complete_title" for="sku">SKU:</label>
                <input class="to_finish margen_medium" type="text" name="sku" value="<%= item.sku %>">
                <label class="complete_title" for="precio">Precio:</label>
                <input class="to_finish margen_medium" type="text" name="price" value="$<%= item.price %>">
                <label class="complete_title" for="stock:">Stock:</label>
                <input class="to_finish margen_small" type="text" name="stock" value="<%= item.stock %>">
            </div>
            <div>
                <label class="complete_title" for="descuento">Descuento:</label>
                <input class="to_finish margen_small" type="text" name="discount" value="<%= item.discount %>%">
                <label class="complete_title" for="cuotas">Cuotas:</label>
                <select class="way_to_pay" id="cuotas" name="dues">

                    if (<%= item.dues %>)
                        <option value="<%= item.dues %>" disabled selected hidden>
                            <%= item.dues %> Cuotas sin interés
                        </option>
                        <option <% item.dues=='1' && 'selected' %>>Usted esta pagando el total </option>
                        <option <% item.dues=='3' && 'selected' %>>3 Cuotas sin interés </option>
                        <option <% item.dues=='6' && 'selected' %>>6 Cuotas sin interés</option>
                        <option <% item.dues=='9' && 'selected' %>>9 Cuotas sin interés</option>
                        <option <% item.dues=='12' && 'selected' %>>12 Cuotas sin interés</option>
                </select>
            </div>
            <div class="upload_image">
                <label class="complete_title" for="imagen">Imágenes:</label>
                <input type="file" id="imagen" name="images" multiple>
            </div>
            <div class="itemParaAgregar">
                <article>
                    <img class="item_img_edit" src="/img<%= item.image_front %>"
                        alt="Figura de funkos de naruko de frente">
                    <p class="descripIman">Frente</p>
                </article>
                <article>
                    <img class="item_img_edit" src="/img<%= item.image_back %>">
                    <p class="descripIman">Dorso</p>
                </article>
            </div>
            <div class="btn_add_clean">
                <input class="action_btn" type="submit" value="Modificar Producto">
            </div>
        </form>
    </main><!-- fin cuerpo principal -->

    <%- include('../partials/footerAdmin.ejs') %>
        </body>

        </html>